

<div class="row">
        <div class="col-sm-4">
          
            <app-widget [tasks]="globalTasks" headerName="Global Tasks"></app-widget>
        
        </div>
        
        <div class="col-sm-4">
          
                <app-widget [tasks]="personalTasks" headerName="Personal Tasks"></app-widget>
            
            </div>
            <div class="col-sm-4">
          
                    <app-widget [tasks]="leaderTasks" headerName="Leader Tasks"></app-widget>
                
                </div>
                
            
      </div>
      